* {
    box-sizing: inherit;
}

:root {
    box-sizing: border-box;
    --primary-color: #000;
    --secondary-color: #cfcfcf;
    --background-color: #fff;
    --font-family-name: "Handlee";
    --font-generic-family: cursive;
}

body {
    font-family: var(--font-family-name), var(--font-generic-family);
}

.container {
    width: 100%;
    max-width: 43.75rem;
    margin: auto;
}

h1 {
    margin: 5vh 0 0 0;
    font-size: 4rem;
    font-weight: 400; /* normal */
}

hr {
    border: none;
    border-top: 0.2rem solid var(--primary-color);
    margin: 0; /* should be 1 rem */
}
hr:first-of-type {
    margin-bottom: 1rem;
}
hr:last-of-type {
    margin-top: 1rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.list-element {
    width: 100%;
    max-width: 40.625rem;
    min-height: 4.375rem;
    margin: auto;
    border-radius: 1rem;
    font-size: 2rem;
    padding: 0.625rem;
    border: 0.125rem solid rgba(0, 0, 0, 0%); /* invisible border fixing hover problems */
}

.list-element:hover .hide {
    visibility: visible;
    text-decoration: line-through;
}

.clear-button {
    margin: 0.5rem 2.3125rem 0 2.3125rem;
    font-size: 1.5rem;
}

.todo-text {
    margin: 0 0.5rem 0 0.5rem;
}

.todo-complete {
    text-decoration: line-through;
}

.todo-element:first-of-type {
    margin-top: 1rem;
}

.todo-element:hover {
    border: 2px dotted var(--secondary-color);
}

.two-column {
    display: flex;
    justify-content: space-between;
}

.border-light {
    border: 2px solid var(--secondary-color);
}

.text-input {
    width: 100%;
    border: none;
    font-size: 2rem;
    font-family: var(--font-family-name), var(--font-generic-family);
}

.text-input:focus {
    outline: none;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.icon {
    padding: 0 0.5rem 0 0.5rem;
    opacity: 50%;
}

.hide {
    visibility: hidden;
}

.vertical-center {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.footer {
    text-align: center;
    padding: 0.5rem;
}

.filter {
    font-size: 1.5rem;
}

.filter > label {
    cursor: pointer;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + label {
    color: var(--secondary-color);
}
